{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/timeline.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=podium" />

<section class="section timeline">
  {% set map = section.pages | group_by(attribute="year") %}
  {% set years = [] %}
  {% for year, ignored in map %}
    {% set_global years = years | concat(with=year) %}
  {% endfor %}
  {% set years = years | sort | reverse %}
  {% for year in years %}
  <div class="container">
    <header class="timeline-header">
      <span class="tag is-medium is-uq-light">{{ year }}</span>
    </header>
    {% set pages = map[year] | sort(attribute="date") | reverse %}
    {% for page in pages %}
    <div class="timeline-item">
      <div class="timeline-marker is-icon">
        {% if page.extra.category == "paper" %}
        <i class="fa-solid fa-book-open"></i>
        {% elif page.extra.category == "award" %}
        <i class="fa-solid fa-trophy"></i>
        {% elif page.extra.category == "talk" %}
        <!--i class="fa-solid fa-keynote"></i-->
        <i class="material-symbols-outlined" style="font-size:1.1rem !important;">podium</i>
        <!--Font on Google Materials are smaller in size, so we force the font size to greater than 0.75 rem.-->
        {% elif page.extra.category == "career" %}
        <i class="fa-solid fa-building-columns"></i>
        {% elif page.extra.category == "other" %}
        <i class="fa-solid fa-newspaper"></i>
        {% endif %}
      </div>
      <div class="timeline-content">
        <p class="heading">{{ page.date }}</p>
        <p><strong>{{ page.title }}</strong></p>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
</div>
</section>

{% endblock content %}
